/* <?php
// The following code is taken from css-tricks.com
// It's supposed to compress the 
    ob_start ("ob_gzhandler");
    header("Content-type: text/css; charset: UTF-8");
    header("Cache-Control: must-revalidate");
    $offset = 60 * 60 ;
    $ExpStr = "Expires: " .
    gmdate("D, d M Y H:i:s",
    time() + $offset) . " GMT";
    header($ExpStr);

. is an id
# is a class
?> */

/* Get the fonts */
@import url('http://fonts.googleapis.com/css?family=Ubuntu+Condensed|Cuprum');
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum'), local('Cuprum-Regular'), url(http://fonts.gstatic.com/s/cuprum/v7/rZj40-VH1f1Wt0yg6Fkbcw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/cuprum/v7/sp1_LTSOMWWV0K5VTuZzvQ.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'), url(http://fonts.gstatic.com/s/ubuntucondensed/v6/DBCt-NXN57MTAFjitYxdrDAdhzWOYhqHvOZMRGaEyPo.woff2) format('woff2'), url(http://fonts.gstatic.com/s/ubuntucondensed/v6/DBCt-NXN57MTAFjitYxdrFzqCfRpIA3W6ypxnPISCPA.woff) format('woff');
}

html {
    display: table;
    margin: auto;
    background-color: #c5e3fd;
}

input[type='range']{
    float: left;
    width:100px;
    height:20px;
    padding: 0px;
    margin: -15px;
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    z-index: 0;
}

li.nav-li {
    display: inline;
/*    padding: 20px;*/
padding: 0px;
}

nav a {
   // display: block;
}

.li {
    font-family: ubuntu, monospace;
    display: inline;
    margin: 0px 3px;
}

#sidebar1 {
    float: left;
}
.bar {
    margin-bottom: 10px;
    color: white;
    padding: 4px;
    text-align: left;
    background-color: #35AFB0;
    border-radius: 2px;
    text-shadow: 1px 1px 3px #000000;
}

.error {
    color: #FF0000;
}

img.align-left {
      margin-right: 0px;
}

body
{
    width:  100%;

}
main {
    background-color: #F2E9E1;
    width: 80%;
    max-width: 100%;
    
    border: 1px solid grey;   
    margin: 15px 10px;
}
aside
{
float: left;
    border: 1px solid grey;
    margin: 15px;
    padding: 15px;
}
img {
    padding: 10px;
    float: none; 
    max-width: 100%;
}
nav
{
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #35AFB0;
}

#logo {
    padding-bottom: 70px;
}

#column1, #column2, #column3, #column4 {
    margin: 0%;
    width: 30%;
    float: left;
}

#column4 {
    margin: 1%;
    width: 30%;
    float: left;
}

h1, h2, h3 {
    line-height: 170%;
    float: top;	
}

h1 {

    background-color: #152A39;
    color: #EFEFEF;
    color: #9CF0B9;
   // text-shadow: 1px 1px 3px #111111;
    font-family: 'Ubuntu Condensed';
 //   font-family: 'Fira', mono;
    margin: 0px auto 0px auto;
    text-align: left;
//    font-size: 22px;
 //    font-weight: normal;
}
h2 {
    background-color: #1E4662;
    color: #9CF0B9;
    text-shadow: 1px 1px 3px #111111;
    font-family: 'Ubuntu', monospace;
    font-family: 'Fira', mono;
    padding: 5px;
    padding-left: 15px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    font-size: 18px;
}
h3 {
    background-color: #266D99;
    color: #9CF0B9;
    text-shadow: 1px 1px 3px #111111;
    font-family: ubuntu, monospace;
    font-family: 'Fira', mono;
    padding: 2px;
    padding-left: 15px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    font-size: 16px;
}
p {
    text-align: left;
    margin: 5px auto 5px auto;
    padding: 0px; 
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F2E9E1;
}
h1 a, h2 a, h3 a
{
    font-family: ubuntu, monospace;
    font-family: 'Fira', mono;
    color: #D9EF6A;
    text-decoration: none;
}
nav a {
    font-family: ubuntu, monospace;
    font-family: 'Fira', mono;
    color: black;
    text-transform: uppercase;
    padding: 2px 14px 2px 14px;
    text-decoration: none;
}
#atab{
    padding-top: 30px;
    padding-bottom: 8px;
    radius: 6px;
}
div {
    
}
article {
    width: 100%;
    font-family: liberation, sans-serif;
    font-family: ubuntu, monospace;
    line-height: 170%;
    margin: 0px;
    padding: 0px;    
}
footer {
    clear: both;
    font-size: 80%;
    text-align: right;
}

a:hover, a.on {
    color: #152A39;
    background-color: #CBE86B;
    background-color: #152A39;
    color: #9CF0B9;
    border-radius: 3px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

#detailsDiv {
    background: white;
}
#detailsDiv ul{
    padding: 0;
    margin: 0;
}
#detailsDiv li{
    list-style: none;
    background: white;
    border-top: solid 1px gray;
    padding: 20px;
    font-family: Verdana;
    line-height: 1.5;
    clear: both;
}
input[type=text]{
    width: 88%;
}

.hashtags {
    color: #1E4662;
}
.profileImg {
    float: left;
}
.notSignedIn{
    color: #1E4662;
}
.notSignedIn:hover{
    color: #D9EF6A;
}
#signOut {
    background-color: #152A39;
    color: #D9EF6A;
    margin: 0px;
    text-decoration: none;
    font-family: 'Ubuntu Condensed';
}
#searchdiv p, #detailsDiv p{
    margin: 0px;
    background-color: #152A39;
}

#details{
    background-color: #c5e3fd;
}

#tweetDiv {
    background-color: #c5e3fd;
}

.tweetButton{
    background: #f1f1f1 url("https://platform.twitter.com/widgets/images/btn.27237bab4db188ca749164efd38861b0.png") -25px 0px no-repeat;
}

.tweetInput[type=text] {
    width: 87%;
    margin-bottom: 2px;
}

#searchdiv{
    min-width: 700px;
    max-width: 700px; 
    border: solid;
}
#searchdiv h1:first-child{
    font-size: 3em;
}

@media screen and (max-width: 550px){
    input[type=text]{
        width: 85%;
    }
}
@media screen and (max-width: 440px){
    input[type=text]{
        width: 80%;
    }
}
@media screen and (max-width: 330px){
    input[type=text]{
        width: 75%;
    }
}
@media screen and (max-width: 700px){
    html{
        display: block;
    }
    #searchdiv{
        width: 100vw;
        max-width: 100vw;
        min-width: 100vw;
    }
}